.tree th, .tree td{
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}
table.tree {
	width : 100%;
}
.pagination > .active > a {
	background-color: #424242 !important;
    border-color: #212121 !important;
}
td.no-wrap {
	white-space: nowrap;
}

#modal-confirm-delete {
	z-index: 999;
	margin-top:100px;
}
.modal-backdrop {
	z-index: 0;
}

.margin-left {
	margin-left : 1rem;
};

